body {
    margin: 0;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    background-color: #222;
}

* {
        box-sizing: border-box;
}

#container {
        
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}   
    
    
@media (min-width: 1200px) {
        #container {
        max-width: 1140px;
        }
}
@media (max-width: 992px)  {
        #container {
        max-width: 960px;
        }
}

@media (max-width: 768px)  {
        #container {
        max-width: 720px;
        }
}
@media (max-width: 576px)  {
        #container {
        max-width: 540px;
        }
}
.header {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
}
.top-panel {
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.top-panel .logo {
    width: 200px;
    height: 55px;
}

h5 {
    font-size: 1.171875rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
}

.pagination {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 25px;
    margin-top: 0;
    border-radius: 5px;
    overflow: hidden;
    list-style: none;
}

li.page-item {
    flex: auto;
    text-align: center;

}


.page-item .page-link{
    background-color: #008966;
    border-color: #007c5d;
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    color: #fff;
    border: 0 solid transparent;
    text-decoration: none;
}

.page-item.active .page-link {
    background-color: #00bc8c;
    border-color: #007c5d;
}

.header ul li a {
    cursor: auto;
    border-radius: 0!important;
}

.score {
    line-height: 55px;
    margin-left: 4px;
}.question-panel {
    display: flex;
    background-color: #303030;
    padding: 1rem;
    margin-bottom: 25px;
    border-radius: 0.25rem;
    
}
.bird-image {
    width: 200px;
    height: 155px;
    border-radius: 10px;
    margin: 0;
    vertical-align: middle;
    border-style: none;

}
.question-panel>div {
    width: calc(100% - 240px);
    margin: 0;
}
.question-panel-aside {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;

}
.question-panel-item {
    position: relative;
    display: block;
    padding: .25rem;
    border-bottom: solid 1px #555;
    border-radius: 0;
}

.question-panel-item:last-child {
    border-bottom: 0;
}
h3 {

    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.audio-player {
    margin: 10px 40px 8px 0;
    width: 100%;
    min-width: 100px;
}
.controls {
    display: flex;
    align-items: center;

}
.timebar {
    position: relative;
    flex: 1 1;
    margin-top: 12px;
}
.playback-button {
    transition: .2s;
    width: 40px;
    height: 40px;
    border: 2px solid #00bc8c;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.playback-button svg {
    transition: .2s;
    width: 18px;
    height: 18px;
    color: #54b1c1;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
}
.timebar .timebar-bar {
    height: 4px;
    background: linear-gradient(to right, rgb(0, 188, 140) 0%, rgb(61, 133, 140) 0%, rgb(115, 115, 115) 0%, rgb(115, 115, 115) 100%);
}

.timebar .timebar-circle {
    background-color: grey;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%,calc(-50% + 2px));
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    cursor: pointer;

}
.timebar-time-info {
    margin-top: 8px;
    font-size: 11px;
    color: #d3d3d3;
    display: flex;
    justify-content: space-between;
}.description-block {
    display: flex;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

}
.description-block-card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    padding: 1rem;
    border: 1px solid #444;
    width: 100%;
    background-color: #303030;
    background-clip: border-box;
    border-radius: 0.25rem;
}
.task-instruction {
    margin-top: 0;
    margin-bottom: 1rem;

}

.task-instruction span {
    display: block;
}
.answers-block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

}
.anwers-block-variants {
    display: flex;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

}
.answers-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
}
.answers-list-item {
    position: relative;
    display: block;
    padding: .85rem 1.25rem;
    background-color: #303030;
    border: 1px solid #555;
    cursor: pointer;

}

.answers-list-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.answers-list-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
t.answers-list-item+.answers-list-item {
    border-top-width: 0;
}
.answers-list .answers-list-item .li-btn {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #444;
    margin-right: 15px;
    border-radius: 50%;
    transition: .1s;

}

.answers-list .answers-list-item:hover {
    background-color: #444;
}
.answers-list-item a {
    text-decoration: none;
    color: white;
}
.answers-block .next-btn {
    width: 100%;
    display: inline-block;
    font-weight: 400;
    margin: 25px 15px;
    background-color: #303030;
    border: 1px solid #444;
    color: white;
    text-align: center;
    vertical-align: middle;
    box-shadow: none;
    transition: .3s;
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
}
/*# sourceMappingURL=bundle.css.map*/